In [1]:
!pip install scikit-learn
!pip install matplotlib
!pip install pandas 
!pip install numpy 
%matplotlib inline

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\edgra\appdata\roaming\python\python312\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from scikit-learn) (3.6.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\edgra\appdata\roaming\python\python312\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\edgra\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\edgra\appdata\roaming\python\python312\site-packages (2.1.3)

In [2]:

import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
%matplotlib inline 
import matplotlib.pyplot as plt

In [64]:
# Read cuci_tanga.csv
cuci_tangan_df = pd.read_csv("cuci_tangan.csv")
# Remove line 1
cuci_tangan_df = cuci_tangan_df.drop([0])
# Rename columns
cuci_tangan_df.columns = ['Wilayah', 'Persentase']
# Remove all rows with missing values ('-') or NAN
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Persentase != '-']
cuci_tangan_df = cuci_tangan_df.dropna()
# drop last row
cuci_tangan_df = cuci_tangan_df.drop(cuci_tangan_df.index[-1])
# Convert 'Persentase' to float
cuci_tangan_df['Persentase'] = cuci_tangan_df['Persentase'].astype(float)

print(cuci_tangan_df.head())
cuci_tangan_df.dtypes
cuci_tangan_df.describe()

         Wilayah  Persentase
1           ACEH        31.6
2       Simeulue        28.0
3   Aceh Singkil        49.7
4   Aceh Selatan        21.5
5  Aceh Tenggara        19.7

       Persentase
count  547.000000
mean    44.025777
std     16.727384
min      0.300000
25%     33.800000
50%     45.800000
75%     56.150000
max     79.100000

In [ ]:
# Read house_size.csv
cuci_tangan_df = pd.read_csv("house_size.csv")
# Remove line 1
cuci_tangan_df = cuci_tangan_df.drop([0])
# Rename columns
cuci_tangan_df.columns = ['Wilayah', 'Persentase']
# Remove all rows with missing values ('-') or NAN
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Persentase != '-']
cuci_tangan_df = cuci_tangan_df.dropna()
# drop last row
cuci_tangan_df = cuci_tangan_df.drop(cuci_tangan_df.index[-1])
# Convert 'Persentase' to float
cuci_tangan_df['Persentase'] = cuci_tangan_df['Persentase'].astype(float)

print(cuci_tangan_df.head())
cuci_tangan_df.dtypes
cuci_tangan_df.describe()

         Wilayah  Persentase
1           ACEH       13.23
2       Simeulue       14.14
3   Aceh Singkil       20.40
4   Aceh Selatan        9.17
5  Aceh Tenggara       15.57

       Persentase
count  547.000000
mean    12.429122
std     10.184029
min      0.140000
25%      6.155000
50%     10.050000
75%     15.940000
max     88.180000

In [ ]:

# Read jumlah_komuter.csv
cuci_tangan_df = pd.read_csv("jumlah_komuter.csv")
# Remove line 1
cuci_tangan_df = cuci_tangan_df.drop([0])
# Rename columns
cuci_tangan_df.columns = ['Wilayah', 'Persentase']
# Remove all rows with missing values ('-') or NAN
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Persentase != '-']
cuci_tangan_df = cuci_tangan_df.dropna()
# drop last row
cuci_tangan_df = cuci_tangan_df.drop(cuci_tangan_df.index[-1])
# Convert 'Persentase' to float
cuci_tangan_df['Persentase'] = cuci_tangan_df['Persentase'].astype(float)

print(cuci_tangan_df.head())
cuci_tangan_df.dtypes
cuci_tangan_df.describe()

         Wilayah  Persentase
1           ACEH        1.55
3   Aceh Singkil        0.04
4   Aceh Selatan        0.22
5  Aceh Tenggara        0.11
6     Aceh Timur        0.45

       Persentase
count  494.000000
mean     2.076478
std      2.673484
min      0.020000
25%      0.362500
50%      0.970000
75%      2.615000
max     18.520000

In [70]:

# Read morbiditas.csv
cuci_tangan_df = pd.read_csv("morbiditas.csv")
# Remove line 1
cuci_tangan_df = cuci_tangan_df.drop([0])
# only keep the first 2 columns
cuci_tangan_df = cuci_tangan_df.iloc[:, :2]
# Rename columns
cuci_tangan_df.columns = ['Wilayah', 'Persentase']
# Remove all rows with missing values ('-') or NAN
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Persentase != '-']
cuci_tangan_df = cuci_tangan_df.dropna()
# drop last row
cuci_tangan_df = cuci_tangan_df.drop(cuci_tangan_df.index[-1])
# Convert 'Persentase' to float
cuci_tangan_df['Persentase'] = cuci_tangan_df['Persentase'].astype(float)

print(cuci_tangan_df.head())
cuci_tangan_df.dtypes
cuci_tangan_df.describe()

         Wilayah  Persentase
1           ACEH       16.68
2       Simeulue       12.46
3   Aceh Singkil       16.81
4   Aceh Selatan       16.16
5  Aceh Tenggara       15.80

       Persentase
count  548.000000
mean    14.798248
std      4.668340
min      0.770000
25%     11.320000
50%     14.700000
75%     17.852500
max     31.380000

In [ ]:
# Read pengeluaran_daging.csv
cuci_tangan_df = pd.read_csv("pengeluaran_daging.csv")
# Remove line 1
cuci_tangan_df = cuci_tangan_df.drop([0])
# only keep the column 0 and the average of column 8
cuci_tangan_df = cuci_tangan_df.iloc[:, [0, 8, 9, 10, 11, 12]]
# Rename columns
cuci_tangan_df.columns = ['Wilayah', 'Harga1', 'Harga2', 'Harga3', 'Harga4', 'Harga5']
# Remove all rows with missing values ('-') or NAN
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Harga1 != '-']
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Harga2 != '-']
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Harga3 != '-']
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Harga4 != '-']
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Harga5 != '-']
cuci_tangan_df = cuci_tangan_df.dropna()
# drop last row
cuci_tangan_df = cuci_tangan_df.drop(cuci_tangan_df.index[-1])
# Convert 'Persentase' to float
cuci_tangan_df['Harga1'] = cuci_tangan_df['Harga1'].astype(float)
cuci_tangan_df['Harga2'] = cuci_tangan_df['Harga2'].astype(float)
cuci_tangan_df['Harga3'] = cuci_tangan_df['Harga3'].astype(float)
cuci_tangan_df['Harga4'] = cuci_tangan_df['Harga4'].astype(float)
cuci_tangan_df['Harga5'] = cuci_tangan_df['Harga5'].astype(float)
# Calculate the average of columns 1-5
cuci_tangan_df['Harga'] = cuci_tangan_df.iloc[:, 1:6].mean(axis=1)
# Drop columns 1-5
cuci_tangan_df = cuci_tangan_df.drop(cuci_tangan_df.columns[1:6], axis=1)

print(cuci_tangan_df.head())
cuci_tangan_df.dtypes
cuci_tangan_df.describe()

         Wilayah    Harga
2       Simeulue  255.244
3   Aceh Singkil  267.624
5  Aceh Tenggara  744.188
6     Aceh Timur  441.808
7    Aceh Tengah  566.916